version: '3.8'
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./prozecto_web
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    env_file:
      - ./prozecto_web/.env
    depends_on:
      - backend

  admin_frontend:
    build:
      context: ./admin
      dockerfile: Dockerfile
    ports:
      - "5174:5174"
    env_file:
      - ./admin/.env
    depends_on:
      - backend
