.rolling-text {
  display: inline-block;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  font-size: inherit;
  line-height: 1.5rem;
  cursor: pointer;
}

.rolling-text span {
  display: block;
  transition: transform 0.35s ease;
  /* no color, Tailwind handles it */
}

.rolling-text span:nth-child(2) {
  position: absolute;
  top: 100%;
  left: 0;
}

.rolling-text:hover span:nth-child(1) {
  transform: translateY(-100%);
}

.rolling-text:hover span:nth-child(2) {
  transform: translateY(-100%);
}
